<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0d4592f9a9.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <form id="bookForm">
            <input type="file" id="bookCover" accept="image/*"  placeholder="+Add cover">
        
            <input type="text" id="title"  placeholder="Add title">
        
            <input type="text" id="author"  placeholder="Add author">
        
            <input type="number" id="pages"  placeholder="Number of pages">
        
            <input type="text" id="genre"  placeholder="Genre">
        
            <input type="checkbox" id="toRead">
            <label for="toRead">To Read</label>

            <input type="checkbox" id="alreadyRead">
            <label for="alreadyRead">Already Read</label>
        
            <button type="button">Save Book</button>
            <button type="button">Cancel</button>
        </form>
    </div>
</body>
</html>