<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0d4592f9a9.js" crossorigin="anonymous"></script>
    <title>Book details</title>
</head>
<body>
    <div>
        <h1>Book details</h1>
        <div>
            <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
            <div>
                <p>Title</p>
                <p>Zbrodnia i kara</p>
                <p>Author</p>
                <p>Fiodor Dostojewski</p>
                <p>Pages</p>
                <p>400</p>
                <p>Genre</p>
                <p>Novel</p>
            </div>
            <button>Close</button>
        </div>
    </div>
</body>
</html>