<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0d4592f9a9.js" crossorigin="anonymous"></script>
    <title>Book collection</title>
</head>
<body>
    <main>
        <h1>Your book collection</h1>
        <div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
                </a>
            </div>
        </div>
    </main>
    <nav>
        <button><i class="fa-solid fa-house"></i></button>
        <button><i class="fa-solid fa-book"></i></button>
        <button><i class="fa-solid fa-box"></i></button>
        <button><i class="fa-solid fa-chart-column"></i></button>
        <button>av</button>
    </nav>
</body>
</html>