<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0d4592f9a9.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <main>
        <h1>You are currently reading: Zbrodnia i kara</h1>
        <div>
            <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
            <div>
                <h3>Your reading progress</h3>
                <div>
                    bar
                    <div>
                        reading
                    </div>
                </div>
                <div>
                    <p>50%</p>
                    <p>200/400</p>
                </div>
            </div>
            <button>Continue reading</button>
        </div>
        <div>
            <p>Your reading time:  10h</p>
            <p>Your reading speed:  1 page/min</p>
            <p>Number of reading sessions: 5</p>
            <p>Reading the same you’ll finish in:  10h</p>
        </div>
        <div>
            <h4>History of reading sessions:</h4>
            <div>
                <p>22.10.2023</p>
                <p> 10:50 - 11:00</p>
                <p>10 minutes</p>
                <p>10 pages</p>
            </div>
            <div>
                <p>22.10.2023</p>
                <p> 10:50 - 11:00</p>
                <p>10 minutes</p>
                <p>10 pages</p>
            </div>
            <button>See history</button>
        </div>
    </main>
    <nav>
        <button><i class="fa-solid fa-house"></i></button>
        <button><i class="fa-solid fa-book"></i></button>
        <button><i class="fa-solid fa-box"></i></button>
        <button><i class="fa-solid fa-chart-column"></i></button>
        <button>av</button>
    </nav>
</body>
</html>