<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Karla:wght@500;700&display=swap" rel="stylesheet">
    <title>Dashboard</title>
    <script src="https://kit.fontawesome.com/0d4592f9a9.js" crossorigin="anonymous"></script>
</head>

<body class="flex-row-center-center body-nav">
    <main class="flex-column-space-around-center dashboard-main">
        <h1>Are you in for a new adventure?</h1>
        <div class="tile-container flex-column-space-around-center">
            <div class="dashboard-tile">
                <img src="https://images.pexels.com/photos/6373289/pexels-photo-6373289.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <h2>Currently, you are not reading any book</h2>
            </div>
            <div class="dashboard-tile">
                <img src="https://images.pexels.com/photos/2203051/pexels-photo-2203051.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <h2>Add book</h2>
            </div>
            <div class="dashboard-tile">
                <img src="https://images.pexels.com/photos/2128249/pexels-photo-2128249.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <h2>See all your books</h2>
            </div>
        </div>
    </main>
    <nav class="flex-row-center-center">
        <a href="./dashboard.html"><i class="fa-solid fa-house fa-2x"></i></a>
        <a href="./current_book.html"><i class="fa-solid fa-book fa-2x"></i></a>
        <a href="./collection.html"><i class="fa-solid fa-box fa-2x"></i></a>
        <a href="./stats.html"><i class="fa-solid fa-chart-column fa-2x"></i></a>
        <a class="nav-avatar">av</a>
    </nav>
    <!-- <nav class="flex-row-center-center">
        <div>img</div>
        <ul class="flex-row-center-center">
            <li>home</li>
            <li>about</li>
            <li>contact</li>
            <li>create</li>
        </ul>
    </nav> -->
    <!-- <h1>Dashboard</h1> -->
    <!-- <main class="flex-row-center-center">
        <div class="elements">
            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?nature" alt="Nature">
                <p>Beautiful nature scene</p>
            </div>

            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?architecture" alt="Architecture">
                <p>Amazing architecture</p>
            </div>

            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?food" alt="Food">
                <p>Delicious food</p>
            </div>
            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?people" alt="Nature Image">
                <p>Short Description 1</p>
            </div>

            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?city" alt="City Image">
                <p>Short Description 2</p>
            </div>

            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?travel" alt="Nature">
                <p>Beautiful nature scene</p>
            </div>

            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?animals" alt="Architecture">
                <p>Amazing architecture</p>
            </div>

            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?technology" alt="Food">
                <p>Delicious food</p>
            </div>
            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?fashion" alt="Nature Image">
                <p>Short Description 1</p>
            </div>

            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?music" alt="City Image">
                <p>Short Description 2</p>
            </div>

            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?sports" alt="Architecture">
                <p>Amazing architecture</p>
            </div>

            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?food" alt="Food">
                <p>Delicious food</p>
            </div>
            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?nature" alt="Nature">
                <p>Beautiful nature scene</p>
            </div>

            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?architecture" alt="Architecture">
                <p>Amazing architecture</p>
            </div>

            <div class="container">
                <img class="image" src="https://source.unsplash.com/300x200/?books" alt="Architecture">
                <p>Amazing architecture</p>
            </div>
        </div>
        <div class="sidebar">sidebar</div>
    </main> -->
</body>

</html>