<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atsumari - login</title>
</head>
<body>
    <h1>Atsumari</h1>
    <h2>Welcome back!</h2>
    <form">
        <input type="text" name="username_email" placeholder="Username or email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button>Login</button>
        <p>Create an account. <a href="./signup.html">Sign Up</a></p>
    </form>
</body>
</html>