<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0d4592f9a9.js" crossorigin="anonymous"></script>
    <title>Reading session</title>
</head>
<body>
    <div>
        <h1>Reading session</h1>
        <div>
            <img src="https://ecsmedia.pl/cdn-cgi/image/format=webp,width=544,height=544,/c/zbrodnia-i-kara-b-iext123430833.jpg">
            <div>
                00:01:10
            </div>
            <button>Pause</button>
            <button>Stop</button>
        </div>
        <div>
            <h2>End session</h2>
            <form id="endSessionForm">
                <input type="number" id="pageNumber" placeholder="Number of page you got to" required>
                <button type="button">Save</button>
                <button type="button">Cancel</button>
            </form>
        </div>
    </div>
</body>
</html>