<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0d4592f9a9.js" crossorigin="anonymous"></script>
    <title>Statistics</title>
</head>
<body>
    <main>
        <h1>Your reading stats</h1>
        <div>
            <div>
                <h3>All time</h3>
                <div>
                    chart
                </div>
            </div>
            <div>
                <h3>Last year</h3>
                <div>
                    chart
                </div>
            </div>
            <div>
                <div>
                    <p>Your reading speed <span>1</span> page/min</p>
                </div>
                <div>
                    <p>Your read <span>30</span> books so far</p>
                </div>
            </div>
        </div>
    </main>
    <nav>
        <button><i class="fa-solid fa-house"></i></button>
        <button><i class="fa-solid fa-book"></i></button>
        <button><i class="fa-solid fa-box"></i></button>
        <button><i class="fa-solid fa-chart-column"></i></button>
        <button>av</button>
    </nav>
</body>
</html>