body {
    margin: 0;
    padding-top: 80px;
}

nav {
    /* background-color: black; */
    color: white;
    height: 80px;
    width: 100%;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
}

nav > ul {
    gap: 2rem;
}

nav > ul > li {
    list-style: none;
}

main {
    width: 100vw;
    background-color: aquamarine;
}

main > .elements {
    background-color: beige;
    width: calc(100vw / 3 * 2);
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
    justify-content: center;
}

main > .sidebar {
    background-color: blueviolet;
    width: calc(100vw / 3);
    align-self: flex-start;
}

main > .elements > .container > img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}